.cart--icon{
    padding: 12px 13px 11px 10px;
    background-color: black;
    border-radius: 50px;
}

.main--cta{
    padding: 23px 42px;
    background: linear-gradient(102.4deg, #F52557 36.84%, #ED1C4E 74.32%);
    color: white;
    box-shadow: 0px 7px 35px rgba(242, 34, 84, 0.42);
    border-radius: 100px;

    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    border: none;
    outline: none;
    background-color: #F52557;
}

.main--cta:hover{
    background: #fa537a;
    transition: background-color ease-in-out 0.15s;
}




.carousel__arrow{
    height: fit-content;
    background-color: white;
    border-radius: 50px;
    padding: 10px 14px;
    margin: 0 15px;
    z-index: 2;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.13);
    cursor: pointer;
}
    
.footer__arrow--up{
    cursor: pointer;
}

.form__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
    width: 48px;
    height: 48px;
    background: #F52456;
    box-shadow: 0px 5px 20px rgba(245, 36, 86, 0.56);
    cursor: pointer;
    flex-shrink: 0;
}

.catalogue__checkbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    margin: 0;
}

.catalogue__check--description{
    user-select: none; 
    width: fit-content;
    position: relative;
    color: #777777;
    padding: 26px 50px;
    border-radius: 50px;
    border: 1px solid #A9A9A9;
}   
    
.check--btn{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-right: 20px;
}   
    


.catalogue__check--description:hover{
    background-color: #fa537a;
    border: 1px solid transparent;
    transition: background-color ease-in-out 0.2s;
    color: white;
}

.catalogue__checkbox:checked + .catalogue__check--description{
    background: #F52456;
    border: 1px solid transparent;
    color: white;
    font-weight: 700;
} 

.bottom--checkbox{
    display: flex;
    flex-wrap: wrap;
}