.tile--section{
    @extend %container;

    .img--column--row{
        display: flex;
        justify-content: space-between;
        @extend %container;
        margin: 57px auto;
    
        .img-column{
            display: flex;
            flex-direction: column;
            max-width: 370px;
            width: 100%;
    
            .tile__img{
                width: 100%;
                margin-bottom: 30px;
                box-shadow: 0px 4px 27px 0px rgba(34, 60, 80, 0.2);
            }
        }
    }
}

.about-us--section{
    @extend %container;

    .about--content{
        display: flex;
        justify-content: space-between;

        .sub--section{
            margin-top: 65px;
        }
    }   
}

.about-us__img--right{
    width: fit-content;
    display: inline;
    position: relative;
    
    .about-us__img{
        display: inline;
        max-width: 670px;
        width: 100%;
        max-height: 394px;
        height: 100%;
        margin-top: 125px;
    }

}


.tile__img:hover{
    transform: scale(1.1);
    transition: 1s;
    filter: drop-shadow(0px 8px 40px rgba(25, 94, 95, 0.46));
}