.hero-screen{
    background: linear-gradient(124.13deg, #F4CB38 10.97%, #F4A938 77.98%); 
    height: 900px;
}

.hero__bg--img{
    background-image: url(../assets/img/Hero__img.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;

    width: 100%;
    height: 900px;
    position: relative;  
}


.hero-screen__content{
    @extend %container;
}

.hero__img{
    max-width: 1334px;
    max-height: 870px;
    width: 100%;
    height: 100%;
}

.advantages{
    @extend %container;

    .benefits--row{
        margin-top: 72px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}

.benefit__icon{
    padding: 20px;
    border-radius: 25px;
}

.green{
    background: #DAFFE0;
}

.orange{
    background: #FFF0DA;
}

.purple{
    background: #F2DCFF;
}

.benefit{
    max-width: 370px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.benefit__description{
    margin-left: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

