.header{
    width: 100% ;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.logo{
    margin-top: 14px;
}

.header--row{
    margin-top: 26px;
    @extend %container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart{
    display: flex;
    align-items: center;
}

.header__navigation:not(:last-child){
    margin-right: 48px;
}

.header__menu{
    display: none;
    margin-left: 20px;
}

.header__right{
    display: flex;
    flex-direction: row;
}